# others
.archive

# env
.env

# mongo local data
.mongo_data

# qdrant local data
.qdrant_data

# neo4j local data
.neo4j_data

# prefect data
.prefect_data

# data folders
.data

__pycache__

# txt
map.txt
cookies.txt

# terraform
.terraform.*
terraform.tfstate
.terraform