{
  "watermark_text": "@test",
  "input_video": "temp/segment_resized.mp4",
  "force_download": 0,  
  "debug_video_frame":0,
  "input_segments": [
     {
      "url": "",
      "segments": [
        {
          "start_segment": "01:09:23",
          "end_segment": "01:10:07",
          "hook_text": "test",
          "output_name": "output_videos/test.mp4"
        }
      ]
    }
  ]
}