[
  {
    "url": "",
    "segments": [
      {
        "start_segment": "00:09:09",
        "end_segment": "00:09:28",
        "hook_text": "This Guy is talking about\nPython",
        "output_name": "output_videos/test1.mp4"
      }
    ],
    "watermark_text": "@Angeluz07",
    "input_video": "temp/segment_resized.mp4",
    "debug_video_frame": 1,
    "force_download": 0
  }
]