# yt download
yt-dlp==2026.3.17

#video manipulation
moviepy

#text fonts
Pillow
skia-python

# for rest api interface
fastapi[standard]
uvicorn[standard]

# for mongodb/cosmosdb driver
pymongo==4.16.0 
python-dotenv==1.2.2

# for distributed asynchronous tasks
taskiq 
taskiq-redis

# for svg rendering
resvg-py