qdrant-client 

# for audio transcription
openai-whisper
ffmpeg-python

webvtt-py

# for rest api interface
fastapi[standard]
uvicorn[standard]

# for embeddings
sentence-transformers[onnx]


# notebooks
ipykernel

# llm
ollama