qdrant-client 

# external audio transcription
groq 

# vtt parser
webvtt-py

# for rest api interface
fastapi[standard]
uvicorn[standard]

# for embeddings
sentence-transformers[onnx]


# notebooks
ipykernel

# llm
ollama